html {
  min-width: 100%;
}

body {
  width: 100%;
  min-width: 850px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  background-color: #f7f7f7;
}

body,
input,
textarea,
select {
  font-size: 14pt;
}

h1 {
  font-size: 2.1em;
  letter-spacing: -0.015em;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -0.015em;
}

#wrapper {
  margin: 0 auto;
  margin-top: -50px;
}

#nav {
  text-align: center;
  height: 4.25em;
}

#nav a {
  font-size: 2.5em;
  margin: 0 0.25em 0 0.25em;
  opacity: 0.35;
  outline: 0;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#nav a:before {
  font-size: 0.8em;
}

#nav a:hover {
  opacity: 1;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 45em;
}

#home {
  padding: 0;
  height: 20em;
}

#home .pic {
  display: block;
  position: absolute;
  right: -1px;
  top: 0;
  height: 100%;
  text-decoration: none;
}

#home .pic img {
  position: relative;
  display: block;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#home header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: 2.5em;
}

#home header > h1 {
  position: absolute;
  left: 10px;
  bottom: 55.5%;
  margin: 0;
}

#home header > p {
  position: absolute;
  left: 12px;
  top: 44.5%;
  font-size: 1.4em;
  letter-spacing: -0.015em;
  margin-top: 0;
}

#home header > span {
  position: absolute;
  left: 14px;
  top: 54.5%;
  font-size: 0.7em;
  letter-spacing: -0.015em;
  line-height: 1.6em;
  margin-top: 0;
}

body,
input,
textarea,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #505050;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #252525;
}

article {
  border-radius: 10px;
  margin-bottom: 3em;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

#nav a {
  position: relative;
  display: inline-block;
  color: #66696D;
  width: 1em;
  height: 1em;
  line-height: 1em;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: 0.3s transform;
}

.panel {
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}


.panel:before,
.panel:after{
  position: absolute;
  content: "";
  top: 100px;
  bottom: 10px;
  left: 60px;
  right: 60px;
  z-index: -1;
  box-shadow: 0 0 30px 13px #5c5f61;
  border-radius: 100px/5px;
}

.icon:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#movil {
  display: none;
}

@media only screen and (max-device-width: 480px){

  body {
    display: inline-flex;
    margin-top: 6em;
  }
  
  #nav a {
    font-size: 4.8em;
    opacity: 0.55;
  }
  
  #main {
    display: none;
  }
  
  #movil {
    display: block;
    margin-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 13px;
    background: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  }
  
  #movil:before,
  #movil:after {
    position: absolute;
    content: "";
    top: 250px;
    bottom: 1194px;
    left: 210px;
    right: 210px;
    z-index: -1;
    box-shadow: 0 0 30px 13px #5c5f61;
    border-radius: 100px/5px;
  }

  #movil header > h1 {
    font-size: 2.8em;
  }

  #movil header > p {
    font-size: 1.8em;
  }

  #movil header > span {
    font-size: 1.2em;
    line-height: 1.8em;
  }

}

